

<div class="container mt-3 p-3 bg-white shadow">
  <% @bookings.each do |booking| %>
    <div class="card m-3 shadow-sm card-car bg-light">
      <div class="row g-0">
        <div class="col-md-3">
          <%= cl_image_tag booking.car.photo.key, width: 300, height: 255, crop: :fill, class: "img-fluid"%>
        </div>
        <div class="col-md-9 ">
          <div class="card-body bg-light">
            <p class="card-title text-secondary "> <span class="fs-4 fw-light text-uppercase"> <strong><%= booking.car.make%> <%= booking.car.model%></strong></span>
            <p class="card-text"><i class="fa-solid fa-calendar m-2"></i>Your renting is going to start from <strong><%= booking.start_date.strftime "%d/%m/%Y" %></strong> to <strong><%= booking.end_date.strftime "%d/%m/%Y" %> </strong>.</p>
            <p class="card-text"><i class="fa-solid fa-hand-holding-dollar m-2"></i>Total price: <strong><%= booking.total_price%>€</strong></p>
        <div class="">
          <%= link_to "Remove booking", booking_path(booking), class: "btn btn-dark float-end price me-5",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
           %></button>
          </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  <% end %>
</div>
