<h1> </h1>
<div class="container mt-3 p-3 bg-white shadow">
  <% @cars.each do |i| %>
  <div class="card-product my-3">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
        <div class= "row bg-dark">
          <div class="col-4">
            <h2><strong> </strong><%= i.make%> - <%= i.model%></h2>
            <p> <strong>Price x day €: </strong><%=  i.price_per_day%></p>
            <p> <strong>Year: </strong><%=  i.year%></p>
            <p><strong>Seats: </strong><%=  i.seats%></p>
            <p><strong>AC: </strong><%=  i.air_conditioning%></p>
          </div>
         </div>
    </div>
  </div>
  <% end %>
  </div>

</div>
