    <% title = 'Your car directly to your home' %>
    <% subtitle = 'Start a new roadtrip with us!' %>
    <% paragraph = "We have #{pluralize(@cars.count, 'car')} available" %>
    <% background_img_mini_bar = 'https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80' %>
    <%= render "shared/mininavbar", title: title, subtitle: subtitle, paragraph: paragraph, background_img_mini_bar: background_img_mini_bar %>



<div class="container mt-3 p-3 bg-white shadow">
  <% @cars.each do |car| %>
    <div class="card m-3 shadow-sm card-car">
      <div class="row g-0">
        <div class="col-md-3">
          <%= cl_image_tag car.photo.key, width: 300, height: 175, crop: :fill, class: "img-fluid"%>
        </div>
        <div class="col-md-9 ">
          <div class="card-body bg-light">
            <p class="card-title text-secondary "> <span class="fs-4 fw-light text-uppercase"> <%= car.make%> <%= car.model%></span>
            <span class="text-muted float-end">
            <%= car.year %>
            /
            <i class="fa-solid fa-car"></i> <%= car.transmission %>
            /
            <i class="fa-solid fa-chair"></i> Seats: <%= car.seats %>
            </span>
            </p>
            <div class="row mt-2 px-3">
              <div class="col-4 text-muted">
              <p>
                <span class="fw-semibold">Air Conditioning:</span>
                <% if car.air_conditioning %>
                  <i class="fa-solid text-success fa-circle-check"></i>
                <% else %>
                  <i class="fa-solid text-danger fa-circle-xmark"></i>
                <% end %>
              </p>
              <p><span class="fw-semibold"> Class:</span> <%= car.class_type %></p>
              </div>
              <div class="col-8 d-flex align-items-end justify-content-end">
                <button class=" btn btn-dark float-end price">Price Per Day: &euro;<%= car.price_per_day %></button>
                <%= link_to "Book Now", car_path(car), class: "btn btn-danger text-white float-end" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
